header {background:#EE82EE;}
  nav li {display: inline;
  margin: 0 0 0 15px;}

nav a {text-transfornm: uppercase;
color:#000000;
font-weight: bold;
fonte-size: 22px;
text-decoration: none;}
.caixa {position:relative;
width: 960px;
margin: 0 auto;}
nav{position: absolute;
top: 110px;
right: 0;}
.produto {  
width: 940px;
margin: 0 auto
padding: 50px 0:
}
.produtos li {
display: inline-block;
text-align: center;
width: 30%;
vertical-align: top;
margin: 0 1.5%;
padding: 30px 20px;
box-sizing:border-box;
border: 5px solid #000000;
border-radius: 70px;}
.produtos h2 {
font-size: 30px;
font-weight:bold;
}
.produto-descricao {
font-size: 18px;
}
.produto-preco {
font-size: 22px;
font-weight:bold;
margin-top: 10px:
}
nav a:hover{
  color: #c78c19; text-decoration: underline;}

.produtos li:hover {
  border-color: #c78c19;}

.produtos li:active {
  border-color: #088c19;}

.produtos li:hover h2 {
  font-size: 34px;}
footer {
text-align: center;
background:#000000;
padding:40px 0;}
.copyrigth{
color: #FFFFFF font-size: 13px;
margin: 20px 0 0;}
main{ width:940px; margin: 0 auto;}
form{ margin: 40px 0;}
form label{ display:block; font-size:20px;
margin: 0 0 10px;}
form input{ display:block; margin: 0 0 20px;
padding: 10px 25px; width: 50%;}
.enviar{width:40%;padding:15px 0;background:red; color:white;
font-weigth:bold;font-size:18px;border:none;border- radius:5px;transition: 1s all;cursor:pointer;}
.emviar:hover{backgraund:darkred;
transform:scale(1.2);}
